<!DOCTYPE html>
<html>
  <head>
    <%= javascript 'jquery/jquery-3.3.1.min.js' %>
    <%= javascript 'bootstrap/bootstrap.min' %>
    <%= stylesheet 'bootstrap' %>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
